# Python 기초

## 개요

본 강의 자료는 [Python 공식 Tutorial](https://docs.python.org/3.6/tutorial/index.html)에 근거하여 만들어졌으며, Python 3.7버전에 해당하는 내용을 담고 있습니다.

또한, 파이썬에서 제공하는 스타일 가이드인 [`PEP-8`](https://www.python.org/dev/peps/pep-0008/) 내용을 반영하였습니다. 

파이썬을 활용하는 다양한 IT기업들은 대내외적으로 본인들의 스타일 가이드를 제공하고 있습니다. 

* [구글 스타일 가이드](https://github.com/google/styleguide/blob/gh-pages/pyguide.md)
* [Tensorflow 스타일 가이드](https://www.tensorflow.org/community/style_guide)

## 식별자

파이썬에서 식별자는 변수, 함수, 모듈, 클래스 등을 식별하는데 사용되는 이름이다. 
식별자 짓기 == 변수 이름 짓기

* 식별자의 이름은 영문알파벳, \_, 숫자로 구성된다.
* 첫 글자에 숫자가 올 수 없다. 
* 대소문자를 구별한다.
* 아래의 예약어는 사용할 수 없다. 

```
False, None, True, and, as, assert, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield
```

In [1]:
# 식별자들을 직접 확인해봅시다.
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

*  내장함수나 모듈 등의 이름으로도 만들면 안된다.

In [2]:
# 5를 string으로 바꿔봅시다.
str(5)

'5'

In [3]:
# 예시로 str에 값을 할당해보고, 오류를 확인해봅시다.
str = 'hi'
str(5)

TypeError: 'str' object is not callable

In [4]:
# 뒤에 코드에 영향이 가니까 변수를 메모리에서 지워줍시다!!!!
del str

## 기초 문법

### 인코딩 선언

인코딩은 선언하지 않더라도 `UTF-8`로 기본 설정이 되어 있다. 

만약, 인코딩을 설정하려면 코드 상단에 아래와 같이 선언한다. 
주석으로 보이지만, Python `parser`에 의해 읽혀진다.

```python
# -*- coding: <encoding-name> -*- 
```

### 주석(Comment)

* 주석은 `#`으로 표현한다. 
* `docstring`은 `"""`으로 표현한다. 
   
   : 여러 줄의 주석을 작성할 수 있으며, 보통 함수/클래스 선언 다음에 해당하는 설명을 위해 활용한다.
   
  
* 예시 : flask 공식 문서 일부 발췌

![flask 공식문서 예시](./images/01/docstring.png)

In [5]:
# 주석을 연습해봅시다.
def my_func(a, b):
    #요것은 주석
    """ 이것은 제가 만든 함수입니다.
    이 줄도 코드에 영향을 주지 않습니다.
    하지만 이름이 docstring 인 것은 이유가 있습니다.
    """
    pass

In [7]:
# docstring은 다음과 같이 확인할 수 있습니다.
print(my_func.__doc__)

 이것은 제가 만든 함수입니다.
    이 줄도 코드에 영향을 주지 않습니다.
    하지만 이름이 docstring 인 것은 이유가 있습니다.

### 코드 라인
* 기본적으로 파이썬에서는 `;` 을 작성하지 않는다.

* 한 줄로 표기할 떄는 `;`를 작성하여 표기할 수 있다.

In [8]:
# print문을 두번 써보자.
print('happy')
print('hacking')

happy
hacking

In [9]:
# print문을 한줄로 이어서 써봅시다. 오류 메시지를 확인해주세요.
print ('happy')print('hacking')

SyntaxError: invalid syntax (<ipython-input-9-9fdd3c8568bf>, line 2)

In [10]:
# ;을 통해 오류를 해결해봅시다.
print('happy');print('hacking')

happy
hacking

* 줄을 여러줄 작성할 때는 역슬래시`\`를 사용하여 아래와 같이 할 수 있다.

In [11]:
# print문을 통해 안되는 코드 예시 작성해봅시다.
print('happy
    hacking')

SyntaxError: EOL while scanning string literal (<ipython-input-11-af7dee1e447c>, line 2)

In [12]:
# print문을 통해 되는 코드 예시 작성해봅시다.
print('Happy\
Hacking')

HappyHacking

* `[]` `{}` `()`는 `\` 없이도 가능하다.

In [ ]:
# list를 두 줄에 걸쳐서 만들어봅시다.
menus = [
    '짜장면', '짬뽕', 
    '탕수육', '군만두'
]

# 변수(variable) 및 자료형


<center><img src="./images/01/variable.png", alt="variable"/></center>


<center><img src="./images/01/box.png", alt="box"/></center>

* 변수는 `=`을 통해 할당(assignment) 된다. 

* 해당 자료형을 확인하기 위해서는 `type()`을 활용한다.

* 해당 변수의 메모리 주소를 확인하기 위해서는 `id()`를 활용한다.

In [14]:
# 변수에 값을 할당해 봅시다.
we = 'ssafy'

In [15]:
# type()을 사용해 봅시다.
type(we)

str

In [16]:
# id()를 사용해 봅시다.
id(we)

1397564738840

* 같은 값을 동시에 할당할 수 있다.

In [1]:
# 같은 값을 동시에 할당해봅시다.
y = 1004
x = 1004
a = b = 1004
print(a, b, x, y)
print(type(a), type(b), type(x), type(y))
print(id(a), id(b), id(x), id(y))

# 많이 쓰이는 정수는 따로 배정이 되어있다. 1 ~ 10까지의 정수. 그래서 type이 무조건 int.로 나온다.
# 다른 숫자들은 저장할 때 마다 다른 메모리 칸에 저장된다. 
# id(변수)는 저장된 메모리 칸을 의미한다.

1004 1004 1004 1004
<class 'int'> <class 'int'> <class 'int'> <class 'int'>
2005580939312 2005580939312 2005580939376 2005580939344

* 다른 값을 동시에 할당 가능하다.

In [19]:
# 동시에 두개의 변수에 값 두개를 할당해봅시다.
x = 1
y = 2

a, b = 1, 2
print(x, y, a, b)

1 2 1 2

In [20]:
# 변수의 갯수가 더 많을 때 오류를 알아봅시다.
x, y = 1

TypeError: cannot unpack non-iterable int object

In [21]:
# 변수의 갯수가 더 적을 때 오류를 알아봅시다.
x, y = 1, 2, 3

ValueError: too many values to unpack (expected 2)

* 이를 활용하면 서로 값을 바꾸고 싶은 경우 아래와 같이 활용 가능하다.

In [34]:
# 변수 x와 y의 값을 바꿔봅시다.
a = 10
b = 20

# a, b = b, a

c = a
a = b
b = c
print (a, b)

a = a + b
b = a - b
a = a - b

# 똑같이 동작하지만 적은 메모리를 사용하면서 실행할 수 있는 코드를 짜는 것이 알고리즘

20 10

## 수치형(Numbers)

###  `int` (정수)

모든 정수는 `int`로 표현된다.

파이썬 3.x 버전에서는 `long` 타입은 없고 모두 `int` 형으로 표기 된다.

10진수가 아닌 8진수 : `0o`/2진수 : `0b` /16진수: `0x`로도 표현 가능하다.

In [37]:
# 변수에 정수를 넣고 해당 변수의 type을 알아봅시다.
print(type(1))
a = 10
print(type(a))

<class 'int'>
<class 'int'>

In [38]:
# python 3.x에서 long은 없어졌습니다.
# 보통 프로그래밍 언어 및 파이썬 2.x에서의 long은 OS 기준 32/64비트이다.
# 파이썬 3.x에서는 모두 int로 통합되었다.
n = 2 ** 64
print(n)
type(n)

18446744073709551616

int

### 오버플로우 (oveflow) - 일반적
* 데이터 타입 별로 사용할 수 있는 메모리의 크기가 제한되어 있다.
* 표현할 수 있는 수의 범위를 넘어가면, 예상한 값이 아닌, 이상한 값이 출력된다.
* 즉, 메모리에 담을 수 있는 크기보다 넘친(overflow) 현상.

### arbitrary-precision arithmetic - Python
* 파이썬은 아주 큰 정수를 표현할 때, 메모리 크기가 변화한다.
* 사용 가능한 메모리 크기가 정해져 있는 기존 방식과 달리, 남아있는 만큼의 가용 메모리를 모두 수 표현에 끌어다 쓸 수 있는 형태
* 4바이트가 제한이지만, 필요하다면 5, 6바이트로 유동적 운용

In [40]:
# 파이썬(내 컴퓨터)에서 가장 큰 숫자를 활용하기 위해 sys 모듈을 불러옵니다.
# 파이썬은 기존 C 계열 프로그래밍 언어와 다르게 정수 자료형에서 오버플로우가 없다.
# arbitrary-precision arithmetic를 사용하기 때문이다.
import sys

max_int = sys.maxsize
print(max_int)
2 ** 63 -1

9223372036854775807

9223372036854775807

In [44]:
# n진수를 만들어보고, 출력 해봅시다.
binary_number = 0b10
octal_number = 0o10 
decimal_number = 10
hexadecimal_number = 0x10

print(binary_number)
print(octal_number)
print(decimal_number)
print(hexadecimal_number)

2
8
10
16

### `float`(부동소수점, 실수)

실수는 `float`로 표현된다. 

다만, 실수를 컴퓨터가 표현하는 과정에서 부동소수점을 사용하며, 항상 같은 값으로 일치되지 않는다. (floating point rounding error)

이는 컴퓨터가 2진수(비트)를 통해 숫자를 표현하는 과정에서 생기는 오류이며, 대부분의 경우는 중요하지 않으나 값을 같은지 비교하는 과정에서 문제가 발생할 수 있다.

In [46]:
# 변수에 실수를 넣고 해당 변수의 type을 알아봅시다.
a = 3.14
type (a)

float

In [47]:
# e를 사용할 수도 있습니다.
b = 3.14e-2

* 실수의 경우 실제로 값을 처리하기 위해서는 조심할 필요가 있다.

In [48]:
# 실수의 덧셈을 해봅시다.
3.5 + 2.4

5.9

In [53]:
# 실수의 뺄셈을 해봅시다.
3.5 - 2.45

1.0499999999999998

In [60]:
# 우리가 원하는대로 반올림을 해봅시다.
round(3.5 - 3.12, 2)  # round (숫자, 소수점 자릿수)

0.38

In [61]:
# 두 개의 값이 같은지 확인해봅시다.
3.5 - 3.12 == 0.38

False

* 따라서 다음과 같은 방법으로 처리 할 수 있다. 이외에 다양한 방법이 있음

In [65]:
# 기본적인 처리방법을 알아봅시다.
a = 3.5 - 3.12
b = 0.38

abs(a - b) # abs = 절대값 (absolute) ~ 두 수의 차이가 1e-10보다 작으면 같다고 보자

1.1102230246251565e-16

In [66]:
# sys 모듈을 통해 처리하는 방법을 알아봅시다.
if abs(a - b) <= sys.float_info.epsilon:
    print('대충 같다')

대충 같다

In [67]:
# python 3.5부터 활용 가능한 math 모듈을 통해 처리하는 법을 알아봅시다.
import math

math.isclose(a, b)

True

### `complex` (복소수)

복소수는 허수부를 `j`로 표현한다.

In [71]:
# 변수에 복소수를 넣고 해당 변수의 type을 알아봅시다.
print(1j ** 2)

a = 3- 4j
type(a)

(-1+0j)

complex

In [72]:
# 복소수와 관련된 메소드들을 확인해봅시다.
print(a.imag)
print(a.real)
print(a.conjugate())

-4.0
3.0
(3+4j)

## Bool

파이썬에는 `True`와 `False`로 이뤄진 `bool` 타입이 있다.

비교/논리 연산을 수행 등에서 활용된다.

다음은 `False`로 변환됩니다.
```
0, 0.0, (), [], {}, '', None
```

In [74]:
# True와 False의 타입들을 알아봅시다.
print(type(True))
print(type(False))
# bool == boolean

<class 'bool'>
<class 'bool'>

* 형변환(Type Conversion)에서 추가적으로 다루는 내용입니다.

In [ ]:
# 다양한 True, False 상황들을 확인해봅시다.

In [75]:
bool(0)  # 0은 False

False

In [76]:
bool(1)

True

In [77]:
bool(2)

True

In [78]:
bool(-1) # 0이 아닌 모든 값이 True

True

In [79]:
bool([]) # 없으면 False

False

In [80]:
bool([False]) # 있으면 True

True

In [83]:
bool('') # 없으면 False

False

In [82]:
bool(' ') # 띄어쓰기라도 있으면 True

True

In [86]:
bool(None)

False

## None

파이썬에서는 값이 없음을 표현하기 위해 `None`타입이 존재합니다.

In [84]:
# None의 타입을 알아봅시다.
type(None)

NoneType

In [87]:
# 변수에 저장해서 확인해봅시다.
a = None  #메모리의 자리를 선점해 놓을 때 쓰는 값이 None이다. 값은 아직 없지만, 메모리는 사용하는 것.
print(a)  # 실행 값이 실제로 존재하지 않을 때, 이를 설정하지 않으면 실행 오류가 나니까 None이라는 값을 정하기도 함. ex) 검색결과 
del a    
print(a) #None을 지정하지 않으면 아예 정의가 내려지지 않는다

None

NameError: name 'a' is not defined

## 문자형(String)

### 기본 활용법

* 문자열은 Single quotes(`'`)나 Double quotes(`"`)을 활용하여 표현 가능하다. 

* 단, 문자열을 묶을 때 동일한 문장부호를 활용해야하며, `PEP-8`에서는 **하나의 문장부호를 선택**하여 유지하도록 하고 있습니다. 
(Pick a rule and Stick to it)

In [89]:
# 변수에 문자열을 넣고 출력해봅시다.
greeting = 'Hi :)'
name = 'Yu taeyoung'
print(greeting, name)
print(type(name))

Hi :) Yu taeyoung
<class 'str'>

In [90]:
# 사용자에게 받은 입력은 기본적으로 str입니다

age = input()
print(age)
print(type(age))

26
26
<class 'str'>

* 다만 문자열 안에 문장부호(`'`, `"`)가 활용될 경우 이스케이프 문자(`\`)를 사용하는 것 대신 활용 가능 합니다.

In [93]:
# 문자열 안에 문장부호를 활용해서 오류를 확인해봅시다.
print('철수가 말했다. '안녕?'')

SyntaxError: invalid syntax (<ipython-input-93-2ad111141f39>, line 2)

In [95]:
# 오류를 이스케이프 문자와 서로 다른 문장부호를 통해 해결해봅시다.
print('철수가 말했다. "안녕?"')  # 다른 문장부호 이용
print('철수가 말했다. \'안녕?\'') # 이스케이프 문자

철수가 말했다. "안녕?"
철수가 말했다. '안녕?'

* 여러줄에 걸쳐있는 문장은 다음과 같이 표현 가능합니다.

`PEP-8`에 따르면 이 경우에는 반드시 `"""`를 사용하도록 되어 있습니다.

In [97]:
# 여러줄을 출력해봅시다.
long_str = """
여러 줄을 사용할 때는 
single qutote * 3개도 가능합니다.
하지만, 반드시 double quote * 3개를 씁시다!"""
print(long_str)

여러 줄을 사용할 때는
single qutote * 3개도 가능합니다.
하지만, 반드시 double quote * 3개를 씁시다!

### 이스케이프 문자열

문자열을 활용하는 경우 특수문자 혹은 조작을 하기 위하여 사용되는 것으로 `\`를 활용하여 이를 구분한다. 

|<center>예약문자</center>|내용(의미)|
|:--------:|:--------:|
|\n|줄바꿈|
|\t|탭|
|\r|캐리지리턴|
|\0|널(Null)|
|`\\`|`\`|
|\'|단일인용부호(')|
|\"|이중인용부호(")|

In [100]:
# 이스케이프 문자열을 조합하여 프린트해봅시다.
print('이 다음은 엔터\n. 그리고 탭\t탭')

이 다음은 엔터
. 그리고 탭	탭

* 이를 출력할 때 활용할 수가 있다.

In [103]:
# print를 하는 과정에서도 이스케이프 문자열을 활용 가능합니다.
print('다음줄 말고', end='\t')
print('옆에 출력하고 싶다.')

다음줄 말고	옆에 출력하고 싶다.

In [105]:
# 물론, end 옵션은 이스케이프 문자열이 아닌 다른 것도 가능합니다.
print('개행문자(backslash n) 말고도 가능합니다', end='!')
print('기본값이 엔터일 뿐', end='!')

개행문자(backslash n) 말고도 가능합니다!기본값이 엔터일 뿐!

### String interpolation 

1) `%-formatting` 

2) [`str.format()` ](https://pyformat.info/)

3) [`f-strings`](https://www.python.org/dev/peps/pep-0498/) : 파이썬 3.6 버전 이후에 지원 되는 사항입니다.

`.format()`는 해당 [링크](https://pyformat.info/)에서 확인바랍니다.

In [106]:
# name 변수에 이름을 입력해봅시다.
name = '문다혜'

In [107]:
# %-formatting을 활용해봅시다.
'Hello, %s' % name

'Hello, 문다혜'

In [110]:
# str.format()을 활용해봅시다.
'Hello, {} {} {}'.format(name, 100, True) #순서대로 들어간다

'Hello, 문다혜 100 True'

In [111]:
# f-string을 활용해봅시다.
f'Hello, {name}'

'Hello, 문다혜'

* 물론 string interpolation도 가능합니다.

In [113]:
fruit = 'apple'
coffee = 'americano'

print(f"""
나는 {fruit} 와 {coffee}를 좋아한다.
""")

나는 apple 와 americano를 좋아한다.

* f-strings에서는 형식을 지정할 수 있으며,

In [114]:
# 다양한 형식을 활용하기 위해 datetime 모듈로 오늘을 표현해봅시다.
import datetime

today = datetime.datetime.now()
print(today)

2019-07-15 16:26:30.198082

In [116]:
year = today.year
f'오늘은 {year}년 {today.month}월 {today:%d}일 {today:%A}'

'오늘은 2019년 7월 15일 Monday'

* 연산과 출력형식 지정도 가능합니다.

In [117]:
# string interpolation에서 연산과 숫자 출력형식을 지정해봅시다.
pi = 3.141592
f'원주율은 {round(pi, 3)}/{pi:.4} 이고 반지름이 2인 원의 넓이는 {pi*2*2}'

'원주율은 3.142/3.142 이고 반지름이 2인 원의 넓이는 12.566368'

# 연산자

## 산술 연산자
Python에서는 기본적인 사칙연산이 가능합니다. 

|연산자|내용|
|----|---|
|+|덧셈|
|-|뺄셈|
|\*|곱셈|
|/|나눗셈|
|//|몫|
|%|나머지(modulo)|
|\*\*|거듭제곱|

In [118]:
# 2의 1000승을 확인해봅시다.
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [122]:
# 나눗셈과 관련된 산술연산자를 활용해봅시다.
print(5 / 2)
print(5 // 2)
print(int(5 / 2)) #실수로 int 하면 기본적으로 내림을 한다.
print(5 % 2)
5 == (5 // 2) * 2 + (5 % 2)

2.5
2
2
1

True

In [125]:
# divmod는 나눗셈과 관련된 함수입니다.
print(divmod(5, 2)) # 5를 2로 나눈 몫이 2이고, 나머지가 1이다 라는 사실을 tuple 안에 표현.

quotient, remainder = divmod(5, 2) #몫과 나머지를 가장 깔끔하게 저장하는 방법. (x, y) = (y, x)와 같은 원리

(2, 1)

* 양수/음수도 표현 가능합니다.

In [126]:
# 음수 양수 표현도 해봅시다.
positive = 4
print(-positive)
negative = -4
print(+negative)
print(-negative)

-4
-4
4

## 비교 연산자

우리가 수학에서 배운 연산자와 동일하게 값을 비교할 수 있습니다.

|연산자|내용|
|----|---|
|a > b|초과|
|a < b|미만|
|a >= b|이상|
|a <= b|이하|
|a == b|같음|
|a != b|같지않음|

In [127]:
# 숫자의 대소관계를 비교해봅시다.
3 > 5

False

In [129]:
# 같은 숫자인지 확인해봅시다.
3 == 3

True

In [131]:
# 다른 숫자인지 확인해봅시다.
3 != 3.0

False

In [132]:
# 문자열도 같은지 확인해봅시다.
'HI' == 'hi'

False

## 논리 연산자

|연산자|내용|
|---|---|
|a and b|a와 b 모두 True시만 True|
|a or b|a 와 b 모두 False시만 False|
|not a|True -> False, False -> True|

우리가 보통 알고 있는 `&` `|`은 파이썬에서 비트 연산자이다.

In [138]:
# and과 관련해서 모든 case를 출력해봅시다.
print(True and False)
print(True and True)
print(1 > 0 and 3 != 3)
print(bool(0 and 1))

False
True
False
False

In [139]:
# or과 관련해서 모든 case를 출력해봅시다.
print (True or True)
print (True or False)
print (False or False)

True
True
False

In [142]:
# not을 활용해봅시다.
print(not True)
print(not 0)
print(not [])
print(not ' ')

False
True
True
False

* 파이썬에서 and는 a가 거짓이면 a를 리턴하고, 참이면 b를 리턴한다.
* 파이썬에서 or은 a가 참이면 a를 리턴하고, 거짓이면 b를 리턴한다.

In [145]:
# and의 단축평가(short-circuit evaluation)에 대해서 알아봅시다.
print(3 and 5)  
print(3 and 0)  
print(0 and 3)
print(0 and 0)

# 참거짓 판단에는 판단을 위해 고려하는 가장 마지막 값을 출력한다.

5
0
0
0

In [146]:
# or의 단축평가(short-circuit evaluation)에 대해서 알아봅시다.
print(3 or 5)  
print(3 or 0)  
print(0 or 3)
print(0 or 0)

# 참거짓 판단에는 판단을 위해 고려하는 가장 마지막 값을 출력한다.

3
3
3
0

## 복합 연산자

복합 연산자는 연산과 대입이 함께 이뤄진다. 

가장 많이 활용되는 경우는 반복문을 통해서 갯수를 카운트하거나 할 때 활용된다.

|연산자|내용|
|----|---|
|a += b|a = a + b|
|a -= b|a = a - b|
|a \*= b|a = a \* b|
|a /= b|a = a / b|
|a //= b|a = a // b|
|a %= b|a = a % b|
|a \*\*= b|a = a ** b|

In [147]:
# 복합연산자는 이럴 때 사용됩니다.
cnt = 0

while cnt < 5:
    print(cnt)
    cnt += 1

0
1
2
3
4

## 기타 연산자

### Concatenation

숫자가 아닌 자료형은 `+` 연산자를 통해 합칠 수 있다.

### Containment Test

`in` 연산자를 통해 속해있는지 여부를 확인할 수 있다.

### Identity

`is` 연산자를 통해 동일한 object인지 확인할 수 있다. 


(나중에 Class를 배우고 다시 학습)

### Indexing/Slicing
`[]`를 통한 값 접근 및 `[:]`을 통한 슬라이싱 

(다음 챕터를 배우면서 추가 학습)

In [3]:
[1, 2, 3] is [1, 2, 3]
{'a': 1} is {'a': 1}

False

In [148]:
# 문자열끼리 더해봅시다.(합쳐봅시다.)
'ap' + 'ple' # concatenation

'apple'

In [149]:
# list끼리 더해봅시다.(합쳐봅시다.)
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [152]:
# 문자열안에 특정한 문자가 있는지 확인해봅시다.
'a' in 'apple'

True

In [153]:
# list안에 특정한 원소가 있는지 확인해봅시다.
2 in [2, 3, 4]

True

In [155]:
# range안에 특정한 원소가 있는지 확인해봅시다.
10 in range (1, 100) # 1 <= n < 100
5 in range (5) # 0 <= n <5

False

In [157]:
# is는 맛만 봅시다.
# 파이썬에서 -5부터 256까지의 id는 동일합니다.
# is는 물리적인 메모리 즉, id를 비교한다.

a = 3
b = 3

print(a == b)
print(a is b)
print(id(a), id(b))


x = 300
y = 300

print(x == y)
print(x is y) 
print(id(x), id(y))

#변수에 무엇을 저장하는 것이 아니다. 변수는 값을 가르치는 것이다.
#그래서 -5~200까지 같은 메모리 공간에 저장해도 각각의 변수에는 따로 나타낼 수 있는 것. 대신, -5~200을 가르키는 변수의 id는 같다

True
True
140704610149072 140704610149072
True
False
1397592782192 1397592782256

In [158]:
# 문자열을 인덱싱을 통해 값에 접근해봅시다.
'hi'[0]

#string, 문자열도 리스트와 유사한 개념

'h'

## 연산자 우선순위

0. `()`을 통한 grouping

1. Slicing  ` [ : ] `

2. Indexing  `[0]`

3. 제곱연산자
    `**`

4. 단항연산자 
    `+`, `-` (음수/양수 부호)

5. 산술연산자
    `\*`, `/`, `%`, `//`
    
6. 산술연산자
    `+`, `-`
 
7. 비교연산자, `in`, `is`

8. `not`

9. `and` 

10. `or`

In [6]:
# 우선순위를 확인해봅시다.
(-3) ** 4

not 'a' in 'apple' and not 'A' is 'A'

False

# 기초 형변환(Type conversion, Typecasting)


파이썬에서 데이터타입은 서로 변환할 수 있다.

## 암시적 형변환(Implicit Type Conversion)
사용자가 의도하지 않았지만, 파이썬 내부적으로 자동으로 형변환 하는 경우이다.
아래의 상황에서만 가능하다.
* bool
* Numbers (int, float, complex)

In [8]:
# boolean과 integer는 더할 수 있을까요?
True + 3  #bool(True) = 1 라고 인식한다.
False + 3

3

In [9]:
# int, float, complex를 각각 변수에 대입해봅시다.
int_n = 3
float_n = 5.0
complex_n = 3 + 5j

In [10]:
# int와 float를 더해봅시다. 그 결과의 type은 무엇일까요?
ifn = int_n + float_n
print(ifn)
type(ifn)

#int와 float을 더하면 무조건 float이 되어, float 기준으로 표현된다.

8.0

float

In [11]:
# int와 complex를 더해봅시다. 그 결과의 type은 무엇일까요?
icn = int_n + complex_n
print(icn)
type(icn)

#다른 숫자와 더해졌을떄 int는 우선순위에서 밀린다.

(6+5j)

complex

## 명시적 형변환(Explicit Type Conversion)

위의 상황을 제외하고는 모두 명시적으로 형 변환을 해주어야한다.

* string -> intger  : 형식에 맞는 숫자만 가능
* integer -> string : 모두 가능

암시적 형변환이 되는 모든 경우도 명시적으로 형변환이 가능하다.

* `int()` : string, float를 int로 변환
* `float()` : string, int를 float로 변환
* `str()` : int, float, list, tuple, dictionary를 문자열로 변환

`list(), tuple()` 등은 다음 챕터에서 배울 예정이다.

In [13]:
# integer와 string 사이의 관계는 명시적으로 형변환을 해줘야만 합니다.
# 1 + '등' >> 오류
str(1) + '등'

'1등'

In [15]:
# string 3을 integer로 변환해봅시다.
a = '3'
int(a)
type(int(a))

int

In [17]:
# string 3.5를 float로 변환해봅시다.
a = '3.5'
float(a)
type(float(a))

float

In [18]:
# string은 글씨가 숫자일때만 형변환이 가능합니다.
a = 'hi'
int(a)

ValueError: invalid literal for int() with base 10: 'hi'

In [19]:
# string 3.5를 int로 변환할 수는 없습니다.
a = '3.5'
int(a)
# 될려면 2단계를 거쳐야 한다. float화 후 int화.

ValueError: invalid literal for int() with base 10: '3.5'

In [20]:
# float 3.5는 int로 변환이 가능합니다.
a = 3.5
int(a)

3

# 시퀀스(sequence) 자료형

`시퀀스`는 데이터의 **순서대로 나열된 형식**을 나타낸다. 

**주의! 순서대로 나열된 것이 정렬되었다라는 뜻은 아니다.**

파이썬에서 기본적인 시퀀스 타입은 다음과 같다.

1. 리스트(list) - mutable

2. 튜플(tuple) - immutable

3. 레인지(range) - immutable

4. 문자열(string) - immutable

5. 바이너리(binary) : 따로 다루지는 않습니다.


## `list`

<center><img src="./images/01/list.png", alt="list figure"/></center>

**활용법**
```python
[value1, value2, value3]
```

리스트는 대괄호`[]` 를 통해 만들 수 있습니다.

값에 대한 접근은 `list[i]`를 통해 합니다.

In [22]:
# 빈 리스트를 만들어봅시다.
list_1 = []
list_2 = list()  

# int(), bool(), str(), float(), complex(), list(1, 2, 3)
# 0, False, '', 0.0, 0j, [1, 2, 3]
# 위의 생상자 함수보다 아래의 literal 값을 쓰는 것이 정석이다. 속도 차이가 있기 때문에. 생사자 함수는 필수적일때만 쓴다.

In [25]:
# 원소를 포함한 리스트를 만들어봅시다.
locations = ['서울', '대전', '광주', '구미']  #list('서울', 광주', '대전', '구미')
print(locations, type(locations))

['서울', '대전', '광주', '구미'] <class 'list'>

In [26]:
# 첫번째 값에 접근해봅시다.
locations[0]

'서울'

## `tuple`

**활용법**
```python
(value1, value2)
```

튜플은 리스트와 유사하지만, `()`로 묶어서 표현합니다.

그리고 tuple은 수정 불가능(immutable)하고, 읽을 수 밖에 없습니다.

직접 사용하는 것보다는 파이썬 내부에서 사용하고 있습니다.

In [27]:
# tuple을 만들어봅시다.
tup = (1, 2)
print(tup, type(tup))

(1, 2) <class 'tuple'>

In [28]:
# 아래와 같이 만들 수 있습니다.
x = 1, 2
print(x, type(x))

(1, 2) <class 'tuple'>

In [29]:
# 파이썬 내부에서는 다음과 같이 활용됩니다.
# 앞선 2. 변수 및 자료형 예제에서 사용된 코드입니다.
(x, y) = (1, 2)

In [30]:
# 실제로는 tuple로 처리됩니다.
x, y = (5, 8)

In [31]:
# 변수의 값을 swap하는 코드 역시 tuple을 활용하고 있습니다.
x, y = y, x

In [34]:
tup = 1, 2, 3, 4, 5, 'a', 'b'
print(tup, type(tup))
tup[5]

(1, 2, 3, 4, 5, 'a', 'b') <class 'tuple'>

'a'

##  `range()`

레인지는 숫자의 시퀀스를 나타내기 위해 사용됩니다.

기본형 : `range(n)` 


> 0부터 n-1까지 값을 가짐 >> 0 <= x < n


범위 지정 : `range(n, m)` 

> n부터 m-1까지 값을 가짐 >> n <= x < m

범위 및 스텝 지정 : `range(n, m, s)`

> n부터 m-1까지 +s만큼 증가한다

In [36]:
# range를 만들어봅시다.
range(10)

range(0, 10)

In [38]:
# range에 담긴 값을 list로 바꿔서 확인해봅시다.
r = range(10)
list(r)
# list의 literal인 []은 range의 list화에 사용 불가

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
# 4 ~ 8까지의 숫자를 담은 list를 만들어봅시다.
r = range(4,9)
list(r)

[4, 5, 6, 7, 8]

In [46]:
# 0부터 -9까지 담긴 list를 만들어봅시다.
print(list(range(0, -10, -1)))
print(list(range(-9, 1)))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [48]:
# step
list(range(0, 100, 5))

# step은 integer만 된다. float, complex는 불가능 하다.

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]


## 시퀀스에서 활용할 수 있는 연산자/함수 

|operation|설명|
|---------|---|
|x in s	|containment test|
|x not in s|containment test|
|s1 + s2|concatenation|
|s * n|n번만큼 반복하여 더하기
|s[i]|indexing|
|s[i:j]|slicing|
|s[i:j:k]|k간격으로 slicing|
|len(s)|길이|
|min(s)|최솟값|
|max(s)|최댓값|
|s.count(x)|x의 갯수|

In [51]:
# contain test를 확인해봅시다.
print('a' in 'apple')
print(1 in [1, 2, 3, 4])
print('s' in ('s', 's', 'a', 'f', 'y'))

True
True
True

In [53]:
# concatenation를 해봅시다.
# 순서있는 type들은 모두 이어진다.
print('ab'+'cd')
print((1, 2) + (3, 4))

abcd
(1, 2, 3, 4)

In [54]:
# 숫자 0이 6개 있는 list를 만들어봅시다.
[0] * 6

[0, 0, 0, 0, 0, 0]

In [56]:
# indexing과 slicing을 하기 위해 list하나를 만들어주세요.
locations = ['seoul', 'daejeon', 'gwangju', 'gumi']
locations[0]

'seoul'

In [58]:
# 두번쨰, 세번쨰 값만 가져와봅시다.
locations [1:3]   # 1 <= index < 3  == 1,2

['daejeon', 'gwangju']

In [63]:
# 0부터 30까지의 숫자를 3씩 증가시킨 상태로 만들어봅시다.
l1 = list(range(0,31,3)) # range의 step 사용

l2 = list(range(0,31))
l3 = l2[0:31:3]  # slicing의 개념으로 3씩 slice한 것이다. 콜론으로 구분.
print(l3)

# slice에서도 integer만 가능하다. index 또한 integer만 가능하다.

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [76]:
l = list(range(10))

l[0:-1] # 0 <= index < 마지막 >> -1은 마지막을 의미
l[3::2] # 3 <= index / step 2 <= 마지막 >> 비워두면 마지막을 포함한다
l[:] # 처음 <= index <= 마지막
l[::-1] # 처음 <= index <= 마지막 but 순서는 거꾸로 >> list를 거꾸로 뒤집는 방법으로 많이 쓰인다
'apple'[::-1]
'안녕하세요'[::-1]

'요세하녕안'

In [91]:
# palindrome 검사
s = '수박이박수'
s == s[::-1]

s = 'a santa at nasa'
s = s.replace(' ','')
s == s[::-1]

s = 'A santa at nasa'
s = str.lower(s)
s = s.replace(' ','')
s == s[::-1]

s = 'A santa at nasa'.lower().replace(' ','')
s == s[::-1]

True

In [97]:
# 위에서 만든 list의 길이를 확인해봅시다.
len([a, s, r, 1])

4

In [104]:
# 위에서 만든 list의 최솟값, 최댓값을 확인해봅시다.
max([1, 41, 35, 99])
max('asdf') # >>가장 뒤에 있는 알파벳
min('asdf')
# 각 언어마다 글자에 숫자가 정해져 있고, 이를 비교해서 출력하는 것
# ord('글자') = 숫자, chr(숫자) = 글자

'a'

In [111]:
# list에 담긴 특정한 것의 갯수를 확인할 수도 있습니다.
[1, 2, 1, 1, 2].count(1)
'apple'.count('p')

2

# set, dictionary

* `set`과 `dictionary`는 기본적으로 순서가 없습니다.

## `set`

세트는 수학에서의 집합과 동일하게 처리됩니다. 

세트는 중괄호`{}`를 통해 만들며, 순서가 없고 중복된 값이 없습니다.

**활용법**
```python
{value1, value2, value3}
```

|연산자/함수|설명|
|---|---|
|a - b|차집합|
|a \| b|합집합|
|a & b|교집합|
|a.difference(b)|차집합|
|a.union(b)|합집합|
|a.intersection(b)|교집합|

In [116]:
# set 두개를 만들어서 연산자들을 활용해봅시다.
set_a = {1, 2, 3}
set_b = {3, 4, 5}

print(set_a - set_b)
print(set_a & set_b)
print(set_a | set_b)

{1, 2}
{3}
{1, 2, 3, 4, 5}

In [120]:
# set은 중복된 값이 있을 수 없습니다.
l = [1, 1, 2, 3, 4, 5, 5, 5, 5, 6, 7]

u =[]

for i in l:
    if not i in u:
        u.append(i)

print(u)  # 모든 언어에서 가능

print(list(set(l))) #파이썬에서 가능

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

* `set`을 활용하면 `list`의 중복된 값을 손쉽게 제거할 수 있습니다.

In [121]:
# set으로 중복된 값을 제거해봅시다.
{1, 1, 1}

{1}

In [122]:
# 다시 list로 바꿔서 확인해봅시다.
list({1, 1, 1})

[1]

## `dictionary`

<center><img src="./images/01/dictionary.png"/></center>

**활용법**
```python
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

* 딕셔너리는 `key`와 `value`가 쌍으로 이뤄져있으며, 궁극의 자료구조입니다. 
* `{}`를 통해 만들며, `dict()`로 만들 수도 있습니다.
* `key`는 immutable한 모든 것이 가능하다. (불변값 : string, integer, float, boolean, tuple, range)
* mutable == can be changed ater it is created, immutable == cannot be changed.
* `value`는 `list`, `dictionary`를 포함한 모든 것이 가능하다.

In [ ]:
# 비어있는 dictionary를 두가지 방법으로 만들어봅시다.
empty_dict1 = {}  #literal
empty_dict2 = dict()  #생성자함수

In [125]:
# 지역번호(서울-02 경기-031 인천-032)가 담긴 전화번호부를 만들어봅시다.
phone_book = {'서울': '02', '경기': '031', '인천': '032'}
phone_book['서울']  #어떤 type이든 값을 꺼낼 때는 []을 사용한다.

'02'

In [127]:
# dictionary는 중복된 key는 존재할 수가 없습니다.
dict_a = {1: 1, 2: 2, 3: 3, 1: 4}
print(dict_a)
# 앞의 key가 먹힌다
# python 3.5에서는 dict 순서는 지원하지 않는다.
# python 3.7에서는 dict 순서를 지원한다.

{1: 4, 2: 2, 3: 3}

In [134]:
# 딕셔너리의 메소드를 활용하여 key를 확인 해볼 수 있습니다.
dict_a = {'a': 1, 'b': 2, 'c': 3}

print(dict_a.keys())
print(type(dict_a.keys()))

for key in dict_a.keys():
    print(key)
    
'a' in dict_a.keys()

dict_keys(['a', 'b', 'c'])
<class 'dict_keys'>
a
b
c

True

In [136]:
# 딕셔너리의 메소드를 활용하여 value를 확인 해볼 수 있습니다.
print(dict_a.values())
print(type(dict_a.values))

dict_values([1, 2, 3])
<class 'builtin_function_or_method'>

# 정리
## 데이터 타입
<center><img src="./images/01/container.png", alt="container"/></center>